<!DOCTYPE html>
<html>
<head>
  <title>PoolTick CMS</title>
</head>
<body>
<h1>🏊 PoolTick Dashboard</h1>

<h3 id="total"></h3>

<table border="1">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nama</th>
      <th>Harga</th>
    </tr>
  </thead>
  <tbody id="data"></tbody>
</table>

<script>
fetch('http://localhost:3000/tickets')
  .then(res => res.json())
  .then(data => {
    const table = document.getElementById('data');
    const total = document.getElementById('total');

    let sum = 0;

    data.forEach(item => {
      sum += item.price;

      table.innerHTML += `
        <tr>
          <td>${item.id}</td>
          <td>${item.name}</td>
          <td>${item.price}</td>
        </tr>
      `;
    });

    total.innerText = "Total Pendapatan: Rp " + sum;
  });
</script>
</body>
</html>